app = 'meamen'
primary_region = 'iad'

[build]

[env]
  NODE_ENV = 'production'
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[deploy]
  strategy = 'immediate'
  release_command = 'bunx prisma db push --skip-generate'

[[vm]]
  size = 'shared-cpu-1x'
  memory = '512mb'
